:host {
  display: block;
  min-height: 100vh;
  background-image: linear-gradient(
      to right top,
      #3f51b5,
      #0062ba,
      #006fb8,
      #007bb1,
      #0084a9,
      #008daa,
      #0095a8,
      #009da5,
      #00a8ac,
      #00b3b2,
      #00beb7,
      #00c9bc
    ),
    repeating-radial-gradient(circle at 0 0, transparent 0, #e5e5f7 10px),
    repeating-linear-gradient(#8e94f955, #8e94f9);
}

.login-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 16px;
}

.w-full {
  width: 100%;
}

mat-card {
  z-index: 2;
  max-width: 420px;
  width: 100%;
  padding: 2em;
}

mat-card-title {
  margin-bottom: 16px;
}
