<app-topbar></app-topbar>
<div class="home-div">
  <mat-grid-list cols="3" gutterSize="16px" rowHeight="120px">
    <mat-grid-tile>
      <mat-card>
        <div>Ventas</div>
        <h2>{{ kpis?.sales ?? "—" }}</h2>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <div>Clientes</div>
        <h2>{{ kpis?.customers ?? "—" }}</h2>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <div>Productos</div>
        <h2>{{ kpis?.products ?? "—" }}</h2>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  <!-- Gráficas: otra fila con altura fija -->
  <mat-grid-list
    cols="3"
    gutterSize="16px"
    rowHeight="360px"
    style="margin-top: 16px"
  >
    <mat-grid-tile colspan="2">
      <mat-card>
        <h3>Ventas por día</h3>
        <mat-divider></mat-divider>
        <div echarts [options]="lineOpts" class="echart"></div>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile colspan="1">
      <mat-card>
        <h3>Top productos</h3>
        <mat-divider></mat-divider>
        <div echarts [options]="barOpts" class="echart"></div>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
